[Unit]
Description=Orthogonal Space

[Service]
Type=simple
ExecStart=/usr/bin/crossbar start --cbdir /var/orthogonalspace/
Restart=on-failure

[Install]
WantedBy=multi-user.target
