<div class="container">
    <div class="game-window">
        HP: <span class="ship-health-text">{{ ship.hp }}</span><br/>
        Position: <span class="ship-coords">{{ ship.position.x }}, {{ ship.position.y }}, {{ ship.position.z }}</span><br/>
        Velocity: <span class="ship-speed">{{ ship.velocity.x }}, {{ ship.velocity.y }}, {{ ship.velocity.z }}</span><br/>
        Thrust: <span class="ship-thrust">{{ ship.force.x }}, {{ ship.force.y }}, {{ ship.force.z }} ({{ ship.force.norm() }} N)</span>
    </div>
    <form>
        <div class="form-group">
            <input type="button" class="form-control" id="goFasterButton" value="Go More Faster" ng-click="ship.addThrust()"/>
            <input type="button" class="form-control" id="goSlowerButton" value="Go Less Faster" ng-click="ship.decreaseThrust()"/>
        </div>
    </form>
</div>
